.general-contact{
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
	.row{
		align-items: center;
	}
	.general-contact__main h3{
		font-size: 42px;
		color: white;
	}
	.general-contact__form {
		min-width: 430px;
		margin-left: 30px;
		.form{
			color: white;
		}
	}
}


.general-contact.first-back{
	background-image: linear-gradient( rgba(14, 18, 11, 0.55), rgba(0, 0, 0, 0.5) ), url("../../assets/img/generalContact-1.jpg");
}

.general-contact.second-back{
	background-image: linear-gradient( rgba(14, 18, 11, 0.55), rgba(0, 0, 0, 0.5) ), url("../../assets/img/generalContact-2.jpg");
}

@media all and (max-width: 990px) {
	.general-contact .general-contact__main h3{
		font-size: 36px;
	}
}

@media all and (max-width: 760px) {
	.general-contact{
		background-position: 50% 0;
		padding: 70px 0;
		.row{
			flex-direction: column;
		}
		.general-contact__main h3{
			text-align: center;
			margin-bottom: 70px;
		}
		.general-contact__form {
			.form{
				button{
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
	}
}

@media all and (max-width: 570px) {
	.general-contact{
		.general-contact__main h3{
			font-size: 32px;
		}
		.general-contact__form {
			min-width: 100%;
			margin: 0 30px 0 30px;
		}
	}
}